---
import { FIRST_NAME, SECOND_NAME } from '../config';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} • {FIRST_NAME} {SECOND_NAME}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
  font-family: 'Fira Code', monospace;
  background-color: #181a1b;
}

</style>
